*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #45a049;
    color: antiquewhite;
}
button{
    padding: 8px 20px;
    font-size: 0.8rem;
    background-color: blue;
    border: 2px solid #4CAF50;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
    color: antiquewhite;
}
a{
    text-decoration: none;
    /* color: antiquewhite; */
    color: antiquewhite;
    
}
.menu{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home{

    width: 50%;
}
button:hover{
    background-color: skyblue;
}
i{
    height: 20px;
    width: 20px;
}
.profile-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.profile-image{
 display: flex;
 justify-content: center;
 align-items: center;
 padding-right: 100px;
 /* padding: 40px 100px; */
 padding-top: 50px;

}
.profile-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-image img{
    height: 150px;
    width: 150px;
    border: 2px  black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.profile-stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;

}
.profile-posts{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.profile-info h1{
    padding: 5px;
}
.profile-info h2{
    padding: 5px;
}
.profile-info p{
    padding-bottom: 5px;
}
.profile-posts h1{
    padding-bottom: 20px;
}