* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* background-color: #f2f2f2; */
    background-image: url(/images/signup.png);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.register-container {
    /* background-color: #fff; */
    height: 99vh;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    margin: auto;
}

.register-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.register-container label {
    display: block;
    margin-bottom: 5px;
}

.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="tel"],
.register-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.register-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.register-container button:hover {
    background-color: #45a049;
}

.register-container #login-link {
    text-align: center;
    margin-top: 10px;
}

.register-container #login-link a {
    text-decoration: none;
    color: #007BFF;
}

.register-container #login-link a:hover {
    text-decoration: underline;
}

#gender-radio{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
input{
    background-color:aliceblue;
}