<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/add-post.css">
</head>
<body>
    <h1>Add New Post</h1>
    <div class="form-container">
        <form action="/add-post" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" id="image" name="image" required>
            </div>
            <div class="form-group">
                <label for="caption">Caption</label>
                <input type="text" id="caption" name="caption" required>
            </div>
            <button type="submit">Add Post</button>
        </form>
    </div>
</body>
</html>