<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/edit-post.css">
</head>
<body>
    <h1>Update Post</h1>
    <div class="container">
        <form action="/update-post" method="post" enctype="multipart/form-data">
            <input type="hidden" th:value="${post.id}" name="id">
            <img th:src="${post.imageUrl}" height="150px" width="150px">
            <div class="form-group">
                <label>Image (Leave Blank if Don't want to change)</label>
                <input type="file" name="image">
            </div>
            <div class="form-group">
                <label>Caption</label>
                <input type="text" th:value="${post.caption}" name="caption" required>
            </div>
            <button>Update</button>
        </form>
    </div>
</body>
</html>