<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page - JSP Gram</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
 
    <nav>
        <div class="home">
          <!-- <a href="/home">Home</a>   -->
          <img src="/images/jspgram-logo.png" alt="" height="120px">
        </div>
        <div class="menu">
            <a href="/profile"> <button>profile</button> </a>
            <a href="/logout"><button>Logout</button> </a>
        </div>
    </nav>
    <div class="message">
        <h3 class="success-message" th:text="${session.pass}"></h3>
        <h3 class="error-message" th:text="${session.fail}"></h3>
        <th:block th:text="${@messageRemover.remove()}"></th:block>
    </div>
    <main class="main-content">
        <div th:if="${posts}">
            <div th:each="post:${posts}" class="post">
                <div class="post-header">
                    <img th:if="${post.user.imageUrl!=null}" height="50" width="50" th:src="${post.user.imageUrl}" class="profile-picture">
                    <img th:if="${post.user.imageUrl==null}" height="50" width="50" src="https://static.vecteezy.com/system/resources/previews/019/879/186/non_2x/user-icon-on-transparent-background-free-png.png" alt="Profile Picture" class="profile-picture">
                    <span class="post-username" th:text="${post.user.username}"></span>
                </div>
                <img class="post-image" th:src="${post.imageUrl}">
                <p class="post-caption" th:text="${post.caption}"></p>
                <p class="post-time" th:text="${post.postedTime}"></p>
                <p class="post-likes" th:text="${post.likedUsers.size()}+' Likes'"></p>
                <div class="post-actions">
                    <a th:if="${!post.hasLiked(session.user.id)}" th:href="'/like/'+${post.id}">
                        <button class="action-button like-button">Like</button>
                    </a>
                    <a th:if="${post.hasLiked(session.user.id)}" th:href="'/dislike/'+${post.id}">
                        <button class="action-button like-button">Dislike</button>
                    </a>
  
                    <span th:text="${post.comments.size()}"></span>
                    <a th:href="'/comment/'+${post.id}"><button class="action-button comment-button">Comment</button></a>
                    <div th:each="comment:${post.comments}">
                        <span th:text="${comment.user.username}"></span>
                        <span th:text="${comment.comment}"></span> 
                    </div>                </div>
            </div>
        </div>

        <div class="all-caught-up">
            <div class="checkmark-circle">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg> -->
                    <i class="fa-solid fa-circle-check fa-2xl" style="color: #63E6BE;" ></i>

            </div>
            <h2 class="caught-up-text">You're All Caught Up</h2>
            <p class="caught-up-subtext">You've seen all new posts</p>
        </div>
    </main></body>
</html>