<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <nav>
        <div class="home">
          <img src="/images/jspgram-logo.png" alt="" height="120px">
        </div>
        <div class="menu">
            <a href="/home"> <button>home</button> </a>
            <a href="/logout"> <button>Logout</button> </a>
        </div>
    </nav>

    <div class="message">
        <h3 class="success-message" th:text="${session.pass}"></h3>
        <h3 class="error-message" th:text="${session.fail}"></h3>
        <th:block th:text="${@messageRemover.remove()}"></th:block>
    </div>

    <div class="profile-container">
        <div class="profile-header">
            <div class="profile-image">
                <img th:if="${session.user.imageUrl==null}"  src="https://static.vecteezy.com/system/resources/previews/019/879/186/non_2x/user-icon-on-transparent-background-free-png.png" alt="Profile Picture" class="profile-picture">
                <img th:if="${session.user.imageUrl}"  th:src="${session.user.imageUrl}" alt="Profile Picture" class="profile-picture">
            </div>
            <div class="profile-info">
                <div>
                <h1 th:text="${session.user.firstName}+' '+${session.user.lastName}" ></h1>
                
               </div>
               <div>
                <h2 th:text="${session.user.email}"></h2>
               </div>
               <div>
                 <p>Bio: <th:block th:text="${session.user.bio}"></th:block> </p>
                </div>
                <div>
                    <button><a href="/edit-profile">Edit Profile</a></button>

                </div>
            </div>
        </div>
        <br>
<hr>

        <div class="profile-stats">
            <div>
                <h3>Posts</h3>
               
                <span th:if="${posts==null}">0</span>
                <span th:if="${posts}" th:text="${posts.size()}"></span>
            </div>
            <div>
                <h3>Followers</h3>
                
                <span th:text="${session.user.followers.size()}"></span>
            </div>
            <div>
                <h3>Following</h3>
               
                <span th:text="${session.user.following.size()}"></span>
            </div>
            <div class="stat-item">
                <a href="/suggestions"><button>Suggestions</button></a>
            </div>
        </div>

        <br>
        <hr>
        <div class="profile-posts">
            <h1>My Posts</h1>
            <button><a href="/add-post">Add New Post</a></button>
        </div>
        <br>
       <hr>
      
             <div class="posts-container">
                 <div th:each="post : ${posts}" class="post-item">
                     <img th:src="${post.imageUrl}" alt="Post Image" class="post-image">
                      <p th:text="${post.caption}"></p>
                      <a th:href="'/edit/'+${post.id}"><button>Edit</button></a>
                      <a th:href="'/delete/'+${post.id}"><button onclick="confirm('Are you sure you want to delete?')">Delete</button></a>
                 </div> 
             </div> 


            
       </div>
            
        
       </div>
</body>
</html>